doctype html

html
  head
    meta(charset='UTF-8')
    title FOE Tools Extension
    link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css')
    link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css')
    style.
      body { width: 500px; }

  body
    #root
    script(src='/js/foe_tools.bundle.js')
