doctype html

html
  head
    meta(charset='UTF-8')
    title FOE Tools Extension
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css')
    style.
      body { width: 300px; }

  body
    #root
    script(src='/js/foe_tools.bundle.js')
